<div style="padding: 40px 20px 40px 20px; background-color: #ecf0f1">

  <div class="row" style="margin: 0; padding: 0;">

    <div class="col-md-9">
      <div class="cardEffect">
        <h1 style="font-size: 35px">{{this.product?.title}}</h1>
        <br />
        <h2 style="font-size: 25px"><b>{{this.product?.price}} KM</b></h2>

  <!--      slajder slika-->
        <div id="carouselExampleIndicators" class="carousel slide">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img [src]="this.coverImage" class="d-block w-100" height="350" style="background-size: cover" alt="image" />
            </div>

            <div class="carousel-item" *ngFor="let productSlider of productImageSlider">
              <img [src]="productSlider" class="d-block w-100" height="350" style="background-size: cover" alt="image" />
            </div>


<!--            <div class="carousel-item active">-->
<!--              <img src="./assets/img-1684408910-e4f51a733684.jpg" class="d-block w-100" alt="image" />-->
<!--            </div>-->
<!--            <div class="carousel-item">-->
<!--              <img src="./assets/img-1684408910-e4f51a733684.jpg" class="d-block w-100" alt="image" />-->
<!--            </div>-->
<!--            <div class="carousel-item">-->
<!--              <img src="./assets/img-1684408910-e4f51a733684.jpg" class="d-block w-100" alt="image" />-->
<!--            </div>-->
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
  <!--      kraj slajdera slika-->
      </div>

      <div class="cardEffect" style="margin-top: 15px">
        <h1 style="font-size: 35px">Kategorija/osobine</h1>

        <h2>Kategorija</h2>
        <h3>{{this.categoryName}}</h3>

        <h2>Osobine</h2>
        <h3 *ngFor="let o of osobine"><b>{{o.name}}</b>: {{o.value}}</h3>

      </div>

      <div class="cardEffect w-100 text-wrap" style="margin-top: 15px">
        <h1 style="font-size: 35px">Detaljni opis, kontakt i lokacija</h1>
        <h2>Opis</h2>
        <h3>{{this.product?.description}}</h3>
        <h2>Kontakt</h2>
        <h3>{{this.product?.contact}}</h3>
        <h2>Lokacija</h2>
        <h3>{{this.product?.location}}</h3>
      </div>

      <div class="cardEffect" style="margin-top: 15px; margin-bottom: 15px">
        <h1 style="font-size: 35px">Pitanja</h1>

<!--        pitanja i odgovori-->
        <div style="padding: 25px" class="question">

          <div style="margin-bottom: 10px" *ngFor="let comment of commentsToShow">
<!--            question-->
            <div class="profile">
              <img [src]="comment.avatarQuestion" class="rounded" alt="avatar" style="width: 50px; height: 50px" />
              <div style="margin-top: -10px;">
                <h3 class="resetP"><b>{{comment.firstNameQuestion}} {{comment.lastNameQuestion}}, ({{comment.usernameQuestion}})</b></h3>
                <p style="font-size: 13px" class="resetP">{{comment.question}}</p>
              </div>
            </div>

<!--            answer-->
            <div style="margin-top: 10px; margin-left: 50px" class="profile" *ngIf="comment.answer !== null">
              <img [src]="comment.avatarAnswer" class="rounded" alt="avatar" style="width: 50px; height: 50px" />
              <div style="margin-top: -10px;">
                <h3 class="resetP"><b>{{comment.firstNameAnswer}} {{comment.lastNameAnswer}}, ({{comment.usernameAnswer}})</b></h3>
                <p style="font-size: 13px" class="resetP">{{comment.answer}}</p>
              </div>
            </div>


          </div>

        </div>

      </div>

<!--      kraj col-md 9-->
    </div>


    <div class="col-md-3">
      <div class="fixed">
      <div class="cardEffect">
        <h3>Korisnik</h3>
<!--        avatar-->
        <div class="profile">
          <img [src]="this.imageToShowAvatar" class="rounded" alt="avatar" width="50" height="50">
          <div style="margin-top: -15px">
            <h2 class="resetP">{{this.user?.username}}</h2>
            <p style="font-size: 13px" class="resetP">{{this.user?.firstName}} {{this.user?.lastName}}</p>
            <p style="font-size: 13px" class="resetP">{{this.user?.city}}</p>
          </div>
        </div>
      </div>

      <div *ngIf="this.userData !== undefined" style="margin-top: 15px" class="cardEffect">
        <h3>Imate pitanje?</h3>
        <p style="font-size: 13px" class="resetP">Ukoliko zelite da postavite pitanje korisniku u vezi ovog proizvoda mozete to uraditi klikom na dugme ispod.</p>
        <button [disabled]="this.userData?.id === this.user?.id" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#postaviPitanje">Postavi pitanje</button>
      </div>

        <div *ngIf="this.userData !== undefined" class="cardEffect" style="margin-top: 15px;">
          <h3>Zelite da kupite proizvod?</h3>
<!--          <p>Kliknite na dugme ispod.</p>-->
          <button [disabled]="this.userData?.id === this.user?.id" class="btn btn-primary btn-md" data-bs-toggle="modal" data-bs-target="#kupiProizvod">Kupi proizvod</button>
        </div>


    </div>
  </div>
    </div>
</div>


<!-- Modal za pitanja -->
<div class="modal fade" id="postaviPitanje" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Postavi pitanje</h1>
        <button #closebuttonPitanje type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <span class="input-group-text">Pitanje</span>
          <textarea [(ngModel)]="selectedQuestion" class="form-control" aria-label="With textarea"></textarea>
        </div>
        <p style="font-size: 13px" class="resetP">Napomena.</p>
        <p style="font-size: 13px" class="resetP">Vase pitanje ce biti vidljivo svim korisnicima na platformi.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Izadji</button>
        <button type="button" class="btn btn-primary" (click)="posaljiPitanje()" >Postavi</button>
      </div>
    </div>
  </div>
</div>

<!--modal za kupovinu-->
<div class="modal fade" id="kupiProizvod" tabindex="-1" aria-labelledby="labelKupi" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="labelKupi">Kupovina proizvoda</h1>
        <button #closebuttonKupovina type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
<!--        <div class="input-group">-->
<!--        <p>Kupujete proizvod sa ID: {{productId}}</p>-->
        <p>Izaberite nacin placanja: </p>
        <select class="form-select" aria-label="Default select example" [(ngModel)]="selectedPaymentMethod">
          <option value="1">Po preuzimanju</option>
          <option value="2">Karticno</option>
        </select>

        <div *ngIf="selectedPaymentMethod == '2'" style="margin-top: 15px">
          <p>Unesite broj kartice</p>
          <input required [(ngModel)]="cardNumber" type="text" class="form-control" />
        </div>

<!--        </div>-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Izadji</button>
        <button type="button" class="btn btn-primary" (click)="kupiProizvod()">Kupi</button>
      </div>
    </div>
  </div>
</div>
