<div class="p-5 mb-12 centered text-center backgroundImage" style="min-height: calc(100vh - 52px - 96px);">
  <div class="container-fluid">
    <h1 style="font-size: 45px;" class="display-5 fw-bold">Dobrodosli</h1>
    <p style="font-size: 20px" class="col-md-12">
      IP Web Shop je vodeća svjetska kupoprodajna platforma koja je prisutna u više od 30 zemalja širom svijeta.
    </p>
    <p style="font-size: 20px" class="col-md-12">
      IP Web Shop olakšava povezivanje ljudi s ciljem kupovine, prodaje ili razmjene proizvoda i usluga, te nudi brzu i jednostavnu objavu oglasa sa bilo kojeg mobilnog uređaja ili računara.
    </p>
    <p style="font-size: 20px" class="col-md-12">
      Svakog mjeseca, stotine miliona ljudi koristi IP Web Shop, kako bi jednostavno, sigurno i povoljno pronašli svoj savršeni dom, kupili ili prodali automobil, pronašli odličan posao, te pronašli ili prodali širok asortiman proizvoda, uključujući računare, mobilne uređaje, namještaj, sportsku opremu i još mnogo toga.
    </p>
    <p style="font-size: 20px" class="col-md-12">
      Na IP Web Shop-u možete kupiti i prodati gotovo sve.
    </p>
    <div style="margin-top: 30px">
      <i style="margin-right: 5px; font-size: 25px;" class="bi bi-arrow-return-right"></i>
      <button routerLink="/products" class="btn btn-outline-dark btn-lg" type="button" ><i class="bi bi-arrow-bar-right"></i>Shop now!</button>
    </div>
  </div>


</div>
